.packages
  padding: 40px 0 70px 0
  &-img
    width: 100%
    height: 100%
    object-fit: cover
  &__rating
    margin-bottom: 27px
  &-item-large
    display: grid
    grid-template-columns: repeat(2, 1fr)
    grid-column: span 2
    position: relative
    border-radius: 8px
    overflow: hidden
  &-item
    display: grid
    position: relative
    border-radius: 8px
    overflow: hidden
  &__title
    margin-top: 0
    margin-bottom: 65px
    text-align: center
    text-transform: uppercase
  &-wrapper
    display: grid
    grid-template-columns: repeat(3, 1fr)
    gap: 30px
    grid-auto-rows: 500px
    min-height: 1030px
  &-info
    padding: 46px 21px 30px 44px
    background-color: $dark
    color: $light
    &:nth-last-child(-n+4)
      padding: 25px 21px 30px 20px
    &__title
      margin-top: 0
  &__text
    font-size: 14px
    line-height: 160%
    margin-top: 0
    margin-bottom: 34px
  &__sale
    font-size: 12px
    border-radius: 0 4px 4px 0
    position: absolute
    padding: 10px
    background-color: $primary
    color: $light
    left: 0
    top: 26px
  &-location
    font-size: 12px
    font-weight: normal
    margin-bottom: 37px
    &__wrapper
      margin-bottom: 11px
    &__img
      margin-right: 14px
  &__button
    background-color: $primary
    padding: 10px 26px
    color: $light
    border: none
    font-size: 14px
    height: 40px
    border-radius: 4px
.price
  &-wrapper
    display: flex
    justify-content: space-between
  &__wrong
    display: block
    text-decoration: line-through
    font-size: 14px
    margin-bottom: 5px
  &__native
    display: block
    font-weight: 700
    font-size: 24px
